*.vscode
*.secrets.yml
*.tfstate
*.terraform
*.lock.hcl
*.ansible
*.DS_Store
secrets.tfvars
*.tfvars
*.tfvars.json
*.log
*.backup
*.bak
*.tmp
*.tfstate.backup
*.tfstate.*
*.tfvars.backup
*.tfvars.*
*.tfvars.json.backup
ntfy-notification.env
