# SSH Configuration - 2025
# {{ ansible_managed }}
ForwardAgent yes
User {{ ssh_master_user }}

Host orion
    HostName 192.168.100.20

Host jellyfin
    HostName 192.168.100.100

Host centreon-prod
    HostName 192.168.100.7
