#  _____ _   ___     __
# | ____| \ | \ \   / /
# |  _| |  \| |\ \ / / 
# | |___| |\  | \ V /  
# |_____|_| \_|  \_/   
                     
# __     __          _ _                         _            
# \ \   / /_ _ _   _| | |___      ____ _ _ __ __| | ___ _ __  
#  \ \ / / _` | | | | | __\ \ /\ / / _` | '__/ _` |/ _ \ '_ \ 
#   \ V / (_| | |_| | | |_ \ V  V / (_| | | | (_| |  __/ | | |
#    \_/ \__,_|\__,_|_|\__| \_/\_/ \__,_|_|  \__,_|\___|_| |_|

# IMPORTANT: This file contains sensitive information that should never made public. You've been warned.
ADMIN_TOKEN=''
INSTALL_ID=''
INSTALL_KEY=''
DOMAIN_URL=''